absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
flatbuffers==24.3.25
gast==0.6.0
google-pasta==0.2.0
grpcio==1.66.2
jsonpointer==2.1
keras==3.6.0
libclang==18.1.1
ml-dtypes==0.4.1
namex==0.0.8
opt_einsum==3.4.0
optree==0.13.0
protobuf==3.20.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
setuptools==69.5.1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
termcolor==2.4.0
wget==3.2
wheel==0.43.0
xlrd==2.0.1
